devices.db
cmd/IoTServer/IoTServer
cmd/IoTServer/measurements.db
config.db
config.db-journal
timeseries.db
timeseries.db-journal
.vscode/launch.json
key.pem
**/__debug_*
cert.pem
iot.db
iot.db-shm
iot.db-wal
cmd/IoTServer/iot.db
cmd/IoTServer/iot.db-shm
cmd/IoTServer/iot.db-wal
